<p><a href="{% url 'index:index' %}">return index</a></p>
<p>select the cmd you want execute<p>
<form action="{% url 'exec_cmd:execute_selected_cmd' %}" method="post">
{% for cmd in cmds %}
	  <li>
		{% if is_executed and selected_cmd_id == cmd.id %}
		<label for="cmds_radio_{{ cmd.id }}">{{ cmd }}
			<input id="cmds_radio_{{ cmd.id }}" type="radio" checked="checked" name="selected_cmd" value="{{ cmd }}" />
		</label>
		{% else %}
		<label for="cmds_radio_{{ cmd.id }}">{{ cmd }}
			<input id="cmds_radio_{{ cmd.id }}" type="radio" name="selected_cmd" value="{{ cmd }}" />
		</label>
		{% endif %}
	  </li>
	{% empty %}
	  <li>There are no cmd executed yet.</li>
	{% endfor %}
	<br/>
	{% if cmds|length > 0 %}
	  <input type="submit" value="Execute">
	 {% else %}
	  <input type="submit" formmethod="get" formaction="{% url 'exec_cmd:create_cmd' %}" value="Create">
	{% endif %}
	
	{% if is_executed %}
	  <p>{{ result|linebreaks }}</p>
	{% endif %}
</form>